/* Estilos gerais para o corpo da página */
body,
html {
    background-color: #013945;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

/* Estilos para o SVG e seu contêiner */
.container-geral {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

#animation-heart {
    position: absolute;
    margin-top: 20%;
    width: 100vh;
    height: auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    transform: translate(20%, -20%);
}

#pulseLine {
    stroke: #C7F8E4;
    stroke-width: 4px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/* Estilos para o contêiner do formulário */
#container-geral-form {
    margin-top: 10%;
    width: 45%;
    max-width: 400px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #7b9b0a;
    color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    opacity: 0.9;
    border: 1px solid rgb(247, 243, 243);
    margin-bottom: 20px;
}

.form-title {
    font-family: cursive;
}

#imcForm {
    display: flex;
    flex-direction: column;
}

.container-form #imcForm input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.container-form #imcForm input[type="submit"]:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    opacity: 0.9;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    border-radius: 5px;
    text-align: center;
}

.modal-close {
    color: #fa0f0f;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#container-bonequinho {
    width: 50%;
    margin: 10vh auto 20% -4%;
    text-align: center;
}

#bonequinho {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 649px) {
    html {
        height: 99%;
    }

    .modal-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row-reverse;
        width: 100%;
        height: 50%;
        opacity: 0.8;
    }

    .modal-close {
        position: absolute;
        margin-left: 73%;
        margin-bottom: 80%;
        padding: 20px;
        background-color: #fa0f0f;
        color: white;
        border-radius: 20px;
        box-shadow: 0 0 10px 5px rgba(245, 106, 106, 0.5);
    }

    #resultadoModal {
        position: relative;
        align-items: center;
        margin-right: 25%;
    }

    #container-geral-form {
        position: relative;
        width: 100%;
        margin-top: 35%;
    }

    .container-geral {
        display: flex;
        align-items: center;
    }

    #container-bonequinho {
        transform: translate(10%, -100%);
        width: 100%;
        height: 50px;
        /* transform: perspective(1000px) rotateY(45deg); */
    }

    #animation-heart {
        position: absolute;
    }
}

@media screen and (min-width: 650px) and (max-width: 850px) {
    .container-geral {
        flex-direction: row;
        align-items: center;
    }

    #container-bonequinho {
        width: 50%;
        margin-top: 32%;
        /* max-width: 300px; */
        margin-bottom: 20px;
    }

    #animation-heart {
        position: absolute;
        margin-top: 40%;
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
        transform: translate(0, 0);
    }
}